@model PRTransactionVM

<div class="container">
    <h3 class="my-4">Purchase Requisition</h3>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }


    <form method="post" asp-controller="PRTransaction" asp-action="EditPR" asp-area="InventoryOfficer">
        <div class="row">
            <div class="col-md-6">
                <!-- Purchase Requisition Header Fields -->
                <div class="mb-3">
                    <input asp-for="PurchaseRequisitionHeader.PRHdrID" class="form-control" hidden />
                </div>
                <div class="mb-3">
                    <label asp-for="PurchaseRequisitionHeader.SupplierID">Supplier</label>
                    <select asp-for="@Model.PurchaseRequisitionHeader.SupplierID" asp-items="@Model.SupplierList" id="supplierDropdown" class="form-select" required>
                        <option disabled selected>--Select Supplier--</option>
                    </select>
                    <span asp-validation-for="PurchaseRequisitionHeader.SupplierID" class="text-danger"></span>
                </div>

                <input asp-for="PurchaseRequisitionHeader.LocationID" id="locationId" class="form-control" hidden>

                <div class="mb-3">
                    <label asp-for="PurchaseRequisitionHeader.Location.LocationAddress">Location</label>
                    <input asp-for="PurchaseRequisitionHeader.Location.LocationAddress" id="location" class="form-control" disabled>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Additional Purchase Requisition Detail Fields -->
                <div class="mb-3">
                    <input asp-for="PurchaseRequisitionDetail.PRDtlID" class="form-control" hidden />
                </div>
                <div class="mb-3">
                    <input asp-for="PurchaseRequisitionDetail.PRHdrID" class="form-control" hidden />
                </div>
                <div class="mb-3">
                    <select asp-for="@Model.PurchaseRequisitionDetail.ProductID" asp-items="@Model.ProductList" class="form-select" id="productDropdown" required>
                        <option disabled selected>--Select Product--</option>
                    </select>
                    <span asp-validation-for="PurchaseRequisitionDetail.ProductID" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <input asp-for="PurchaseRequisitionDetail.UnitPrice" class="form-control" id="unitPrice" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="PurchaseRequisitionDetail.UnitOfMeasurement">Unit Of Measurement:</label>
                        <input asp-for="PurchaseRequisitionDetail.UnitOfMeasurement" class="form-control" id="unitOfMeasurement" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PurchaseRequisitionDetail.QuantityInOrder">Quantity In Order:</label>
                    <input asp-for="PurchaseRequisitionDetail.QuantityInOrder" class="form-control" required>
                    <span asp-validation-for="PurchaseRequisitionDetail.QuantityInOrder" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <div class="col-md-6">
                <a asp-area="InventoryOfficer" asp-controller="PRTransaction" asp-action="PRDList" class="btn btn-outline-primary">Back</a>
            </div>
        </div>
    </form>
</div>