@{
    var status = Context.Request.Query["status"];
    var pending = "text-primary";
    var approved = "text-primary";
    var cancelled = "text-primary";
    var all = "text-primary";

    switch (status)
    {
        case "pending":
            pending = "active text-white bg-primary";
            break;
        case "approved":
            approved = "active text-white bg-primary";
            break;
        case "cancelled":
            cancelled = "active text-white bg-primary";
            break;
        default:
            all = "active text-white bg-primary";
            break;
    }
}



<!--Main Content-->
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-md-4">
                <h3 class="py-2">Purchase Requisition List</h3>
            </div>
            <div class="col-md-8 text-end">
                <a asp-area="Admin" asp-controller="PRTransaction" asp-action="PODList" class="btn btn-info me-2 mb-3">Purchase Order List</a>
                <a asp-area="Admin" asp-controller="PRTransaction" asp-action="CreatePR" class="btn btn-primary mb-3">Create Purchase Requisition</a>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="d-flex justify-content-between pb-5 pt-2">
            <span></span>
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="PRTransaction" asp-action="PRDList" asp-route-status="pending">
                <li class="list-group-item @pending">Pending</li>
                </a>
                <a style="text-decoration:none;" asp-controller="PRTransaction" asp-action="PRDList" asp-route-status="approved">
                <li class="list-group-item @approved">Approved</li>
                </a>
                <a style="text-decoration:none;" asp-controller="PRTransaction" asp-action="PRDList" asp-route-status="cancelled">
                <li class="list-group-item @cancelled">Cancelled</li>
                </a>
                <a style="text-decoration:none;" asp-controller="PRTransaction" asp-action="PRDList" asp-route-status="all">
                <li class="list-group-item @all">All</li>
                </a>
            </ul>
        </div>

        @if (TempData["PRSuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["PRSuccessMessage"]
            </div>
        }

        <div class="table-responsive">
            <table id="tblData" class="table table-responsive table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>PRDtlID</th>
                        <th>PRHdrID</th>    
                        <th>Supplier</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th>Total Amount</th>
                        <th>PR Date</th>
                        <th>Product Name</th>
                        <th>Unit Price</th>
                        <th>Unit Of Measurement</th>
                        <th>Quantity in Order</th>
                        <th>Subtotal</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div class="col-md-6">
    <a asp-area="Admin" asp-controller="Home" asp-action="Dashboard" class="btn btn-outline-secondary form-control">Back</a>
</div>

<!--End of Content-->
@section Scripts {
    <script src="~/js/prdetail.js"></script>
}
