@using Microsoft.AspNetCore.Identity
@using Meditrack.Utility
@model List<TransactionLogs>

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="wrapper">
    <!-- Sidebar -->
    <aside id="sidebar">
        <div class="h-100">
            <div class="sidebar-logo">
                <a href="#">Meditrack</a>
            </div>
            <!-- Sidebar Navigation -->
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="Admin" asp-controller="Home" asp-action="Dashboard">
                        <i class="bi bi-grid"></i>
                        Dashboard
                    </a>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="sidebar-item">
                        <a class="sidebar-link" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <i class="bi bi-person"></i>
                            Profile
                        </a>
                    </li>
                }
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#pages"
                       aria-expanded="false" aria-controls="pages">
                        <i class="fa-regular fa-file-lines pe-2"></i>
                        Management
                    </a>
                    <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Admin" asp-controller="User" asp-action="ManageUserAccount">Manage Users</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Admin" asp-controller="Supplier" asp-action="ManageVendor">Manage Supplier</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Admin" asp-controller="Product" asp-action="ManageProduct">Manage Inventory</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Admin" asp-controller="Location" asp-action="ManageLocation">Manage Location</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="Admin" asp-controller="PRTransaction" asp-action="PRDList">
                        <i class="bi bi-check2-square"></i>
                        Transactions
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="Admin" asp-controller="Product" asp-action="ExpiringProducts">
                        <i class="bi bi-bell"></i>
                        Notifications
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="Admin" asp-controller="Home" asp-action="Report">
                        <i class="bi bi-list-task"></i>
                        Reports
                    </a>
                </li>            
                <li class="sidebar-item">
                    <form id="logoutForm" class="sidebar-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="btn btn-link border-0 sidebar-logout">
                            <i class="bi bi-box-arrow-right ms-1"></i>
                            Logout
                        </button>
                    </form>
                </li>

            </ul>
        </div>
    </aside>
    <!-- Main Component -->
    <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom">
            <!-- Button for sidebar toggle -->
            <button class="btn" type="button" data-bs-theme="light">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <main class="content px-3 py-2">
            <div class="container-fluid">
                <div class="mb-3">
                    <h3>Display Report</h3>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Transaction ID</th>
                                <th>Transaction Type</th>
                                <th>User ID</th>
                                <th>Status ID</th>
                                <th>PO Header ID</th>
                                <th>PR Header ID</th>
                                <th>Product ID</th>
                                <th>Quantity</th>
                                <th>Transaction Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var log in Model)
                            {
                                <tr>
                                    <td>@log.TransactionID</td>
                                    <td>@log.TransType</td>
                                    <td>@log.ApplicationUserId</td>
                                    <td>@log.StatusID</td>
                                    <td>@log.POHdrID</td>
                                    <td>@log.PRHdrID</td>
                                    <td>@log.ProductID</td>
                                    <td>@log.Quantity</td>
                                    <td>@log.TransDate.ToString("yyyy-MM-dd")</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </main>
    </div>
</div>