@model List<Monitoring>

<!--Main Content-->
<div class="row">
    <div class="col-6">
        <h3 class="mt-3">Received Supplies</h3>
    </div>
    <div class="col-6 text-end">
        <a asp-area="InventoryOfficer" asp-controller="Monitoring" asp-action="UpsertMonitoring" class="btn btn-info mt-2">Receive Supplies</a>
    </div>
</div>

@if (TempData["MonitoringSuccess"] != null)
{
    <div class="alert alert-success mt-3" role="alert">
        @TempData["MonitoringSuccess"]
    </div>
}

<div class="mt-5">

    <a asp-area="InventoryOfficer" asp-controller="Home" asp-action="Dashboard" class="btn btn-primary border mt-4 bt-3">
        <i class="bi bi-arrow-left"></i> Back
    </a>

    <div class="table-responsive table-bordered table-striped">
        <table class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity Received</th>
                    <th>Quantity Expected</th>
                    <th>Quantity Lacking</th>
                    <th>Received Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.MonitoringID))
                {
                    <tr>
                        <td>@obj.Product.ProductName</td>
                        <td>@obj.QuantityReceived</td>
                        <td>@obj.QuantityExpected</td>
                        <td>@obj.QuantityLacking</td>
                        <td>@obj.ReceivedDate</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-area="InventoryOfficer" asp-controller="Monitoring" asp-action="UpsertMonitoring" asp-route-MonitoringID="@obj.MonitoringID" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a asp-area="InventoryOfficer" asp-controller="Monitoring" asp-action="DeleteMonitoring" asp-route-MonitoringID="@obj.MonitoringID" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>