@using Microsoft.AspNetCore.Identity
@using Meditrack.Utility

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model List<Location>

<div class="wrapper">
    <!-- Sidebar -->
    <aside id="sidebar">
        <div class="h-100">
            <div class="sidebar-logo">
                <a>Meditrack</a>
            </div>
            <!-- Sidebar Navigation -->
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="InventoryOfficer" asp-controller="Home" asp-action="Dashboard">
                        <i class="bi bi-grid"></i>
                        Dashboard
                    </a>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="sidebar-item">
                        <a class="sidebar-link" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <i class="bi bi-person"></i>
                            Profile
                        </a>
                    </li>
                }
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#pages"
                       aria-expanded="false" aria-controls="pages">
                        <i class="fa-regular fa-file-lines pe-2"></i>
                        Management
                    </a>
                    <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="InventoryOfficer" asp-controller="Supplier" asp-action="ManageVendor">Manage Supplier</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="InventoryOfficer" asp-controller="Product" asp-action="ManageProduct">Manage Inventory</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="InventoryOfficer" asp-controller="Location" asp-action="ManageLocation">Manage Location</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="InventoryOfficer" asp-controller="PRTransaction" asp-action="PRDList">
                        <i class="bi bi-check2-square"></i>
                        Transactions
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="InventoryOfficer" asp-controller="Home" asp-action="Notification">
                        <i class="bi bi-bell"></i>
                        Notifications
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="InventoryOfficer" asp-controller="Home" asp-action="Report">
                        <i class="bi bi-list-task"></i>
                        Reports
                    </a>
                </li>         
                <li class="sidebar-item">
                    <form id="logoutForm" class="sidebar-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="btn btn-link border-0 sidebar-logout">
                            <i class="bi bi-box-arrow-right ms-1"></i>
                            Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </aside>
    <!-- Main Component -->
    <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom">
            <!-- Button for sidebar toggle -->
            <button class="btn" type="button" data-bs-theme="light">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <main class="content px-3 py-2">
            <div class="container-fluid">
                <div class="mb-3">

                    <!--Main Content-->
                    
                    <div class="row">
                        <div class="col-6">
                            <h3 class="mt-3">Manage Location</h3>
                        </div>
                        <div class="col-6">
                            <a asp-area="InventoryOfficer" asp-controller="Location" asp-action="UpsertLocation" class="btn btn-primary mt-2 form-control">Add Location</a>
                        </div>                      
                    </div>

                    <div class="mt-5">
                        <div class="table-responsive table-bordered table-striped">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Location ID</th>
                                        <th>Location Type</th>
                                        <th>Location Address</th>
                                        <th>Date Created</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var obj in Model.OrderBy(u => u.LocationID))
                                    {
                                        <tr>
                                            <td>@obj.LocationID</td>
                                            <td>@obj.LocationType</td>
                                            <td>@obj.LocationAddress</td>
                                            <td>@obj.DateCreated</td>
                                            <td>
                                                <div class="w-75 btn-group" role="group">
                                                    <a asp-area="InventoryOfficer" asp-controller="Location" asp-action="UpsertLocation" asp-route-LocationID="@obj.LocationID" class="btn btn-primary mx-2">
                                                        <i class="bi bi-pencil-square"></i> Edit
                                                    </a>
                                                    <a asp-area="InventoryOfficer" asp-controller="Location" asp-action="DeleteLocation" asp-route-LocationID="@obj.LocationID" class="btn btn-danger mx-2">
                                                        <i class="bi bi-trash"></i> Delete
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--End of Content-->

                </div>
            </div>
        </main>
    </div>
</div>
